@font-face {
  font-family: Union;
  src: url(union_regular.otf);
}

@font-face {
  font-family: Panama Demo;
  src: url(Panama_Demo_Regular.otf);
}

* {
  box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:active {
    color: lightgray;
}

.guest {
    text-decoration: underline;
    color: black;
}

.guest:hover {
    font-style: oblique;
}

.collab {
    text-decoration: none;
    color: dimgrey;
}

.collab1 {
    text-decoration: none;
    color: dimgrey;
}

.collab:hover {
    font-style: oblique;
}

.works {
    text-decoration: none;
    color: black;
}

.works:hover {
    color: dimgray;
}

.inpage {
    color: black;
    text-decoration: none;
}

.inpage:hover {
    color: dimgray;
}

.inpage2 {
    color: C1C1C1;
    text-decoration: none;
}

.inpage2:active {
    color: lightgray;
    text-decoration: none;
}

p {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
}

body {
  background-color: #CCCCCC;
  margin: 0px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  font-family: Union;
}

myBtninfo:hover {
  text-decoration: underline;
}

#main {
  width: 100vw;
  height: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  box-sizing: border-box;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
          justify-content: flex-start;
  margin: 0px;
}

#moreinfo {
  z-index: 13;
  /*    background-color: #CCCCCC;*/
}

#header {
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  box-sizing: border-box;
  margin: 0px;
  background-color: #CCCCCC;
  z-index: 40;
}

#header01 {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  margin: 0px;
  color: black;
  font-size: 18px;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
          justify-content: flex-start;
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 14px;
  padding-bottom: 6px;
  background-color: transparent;
  line-height: 1;
  /*    font-weight: bolder;*/
  color: black;
  -webkit-text-stroke: 0px black;
  -webkit-text-stroke-width: var(--strokeWidth);
}

#header011 {
  width: 60%;
  height: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
          justify-content: flex-start;
  box-sizing: border-box;
  background-color: transparent;
  padding-top: 0px;
}

#header012 {
  width: 40%;
  height: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
          justify-content: flex-start;
  box-sizing: border-box;
  background-color: transparent;
  margin-right: 14px;
  font-size: 18px;
  padding-left: 8%;
}

#header0121 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
          justify-content: flex-start;
  box-sizing: border-box;
  background-color: transparent;
  text-align: center;
}

#header01211 {
  width: 80px;
  height: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
          justify-content: flex-start;
  box-sizing: border-box;
  background-color: transparent;
font-family: Union;
    padding-top: 0px;
    padding-left: 0px;
}

#header01212 {
  width: 80px;
  height: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
          justify-content: flex-start;
  box-sizing: border-box;
  background-color: transparent;
  font-family: Union;
    font-size: 18px;
}

#myBtninfo {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
          align-items: flex-start;
    -webkit-box-pack: start;
          justify-content: flex-start;
    background-color: transparent;
    color: black;
    border: none;
    font-size: 18px;
    font-family: Union;
    display: inline-block;
    cursor: help;
    outline: none;
    padding-left: 0px;
    padding-top: 0px;
}



.date {
  /*    font-size: 13px;*/
  color: #1FCA23;
  font-family: Panama Demo;
  letter-spacing: 0;
  -webkit-text-stroke: 1px #1FCA23;
  -webkit-text-stroke-width: var(--strokeWidth);
}

#trabalhos {
  width: 100vw;
  height: auto;
  background-color: transparent;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 18px;
}

#alwfav {
  width: 77%;
  height: unset;
  background-color: transparent;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.imagens {
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.mySlides {
  width: 100%;
  height: unset;
  display: -webkit-box;
  display: flex;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: transparent;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
          justify-content: flex-start;
}

.butaoe {
  width: 6%;
  height: 45vw;
  position: absolute;
  align-content: flex-start;
  -webkit-box-pack: start;
          justify-content: flex-start;
  background-color: transparent;
  z-index: 10;
  cursor: w-resize;
  outline: none;
  border: none;
}

.butaod {
  width: 80%;
  height: 45vw;
  position: absolute;
  background-color: transparent;
  z-index: 9;
  cursor: e-resize;
  outline: none;
  border: none;
  margin-left: 10%;
}

#alwfav2 {
  width: 65vw;
  height: unset;
  background-color: transparent;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  color: black;
  line-height: 1;
  padding-top: 1px;
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-width: 100px;
     -moz-column-width: 100px;
          column-width: 100px;
  /*    padding-bottom: 10px;*/
}

.dates {
  color: #1FCA23;
  font-family: Lausanne;
  font-size: 32px;
  letter-spacing: -0.5px;
}

.titles {
  font-family: Panama Demo, serif;
  font-size: 34px;
  color: black;
  letter-spacing: 1;
}

.numero3 {
  font-family: Self Modern;
  font-size: 26px;
  color: black;
}

.titlesmall {
  color: black;
  font-family: Union;
}

.plus {
  color: black;
  font-weight: lighter;
}

#myBtn {
  background-color: transparent;
  color: black;
  border: none;
  font-size: 22px;
  display: inline-block;
  cursor: pointer;
  line-height: 1;
  outline: none;
}

#artofwar {
  width: 67%;
  height: unset;
  background-color: transparent;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 18px;
}

/*
#artofwar1 {
  width: 100%;
  height: 85%;
}
*/

#artofwar2 {
  width: 65vw;
  height: auto;
  background-color: transparent;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  color: black;
  line-height: 1;
}

.mySlides2 {
  width: 100%;
  height: unset;
  display: -webkit-box;
  display: flex;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: transparent;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
          justify-content: flex-start;
}

#myBtn2 {
  background-color: transparent;
  color: black;
  border: none;
  font-size: 22px;
  display: inline-block;
  cursor: pointer;
  line-height: 1;
  outline: none;
}

#cisterna {
  width: 82%;
  height: unset;
  background-color: transparent;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 18px;
}

/*
#cisterna1 {
  width: 99%;
  height: 85%;
}
*/

#cisterna2 {
  width: 65vw;
  height: auto;
  background-color: transparent;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  color: black;
  line-height: 1;
  padding-top: 1px;
}

.mySlides3 {
  width: 100%;
  height: unset;
  display: -webkit-box;
  display: flex;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: transparent;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
          justify-content: flex-start;
}

#myBtn3 {
  background-color: transparent;
  color: black;
  border: none;
  font-size: 22px;
  display: inline-block;
  cursor: pointer;
  line-height: 1;
  outline: none;
}

#premium {
  width: 68%;
  height: unset;
  background-color: transparent;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 18px;
}

/*
#premium1 {
  width: 100%;
  height: unset;
}
*/

#premium2 {
  width: 65vw;
  height: auto;
  background-color: transparent;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  color: black;
  line-height: 1;
  padding-top: 1px;
}

.mySlides4 {
  width: 100%;
  height: unset;
  display: -webkit-box;
  display: flex;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: transparent;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
          justify-content: flex-start;
}

#myBtn4 {
  background-color: transparent;
  color: black;
  border: none;
  font-size: 22px;
  display: inline-block;
  cursor: pointer;
  line-height: 1;
  outline: none;
}

#ontherole {
  width: 87%;
  height: unset;
  background-color: transparent;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 18px;
}

/*
#ontherole1 {
  width: 100%;
  height: 85%;
}
*/

#ontherole2 {
  width: 65vw;
  height: auto;
  background-color: transparent;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  color: black;
  line-height: 1;
  padding-top: 1px;
}

.mySlides5 {
  width: 100%;
  height: unset;
  display: -webkit-box;
  display: flex;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: transparent;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
          justify-content: flex-start;
}

#myBtn5 {
  background-color: transparent;
  color: black;
  border: none;
  font-size: 22px;
  display: inline-block;
  cursor: pointer;
  line-height: 1;
  outline: none;
}

#crise {
  width: 70%;
  height: unset;
  background-color: transparent;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 18px;
}

/*
#crise1 {
  width: 100%;
  height: unset;
}
*/

#crise2 {
  width: 65vw;
  height: auto;
  background-color: transparent;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  color: black;
  line-height: 1;
  padding-top: 1px;
  padding-bottom: 50px;
}

.mySlides6 {
  width: 100%;
  height: unset;
  display: -webkit-box;
  display: flex;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: transparent;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
          justify-content: flex-start;
}

#myBtn6 {
  background-color: transparent;
  color: black;
  border: none;
  font-size: 22px;
  display: inline-block;
  cursor: pointer;
  line-height: 1;
  outline: none;
}

#theend {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  font-size: 18px;
  font-family: Union, sans-serif;
  line-height: 1;
  padding-left: 1%;
  padding-right: 1%;
  background-color: transparent;
  margin-bottom: 18px;
  letter-spacing: 0;
  -moz-text-align-last: center;
       text-align-last: center;
}

#theend1 {
  width: 19%;
  height: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  background-color: transparent;
}

#theend2 {
  width: 16%;
  height: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  background-color: transparent;
}

#theend3 {
  width: 16%;
  height: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  background-color: transparent;
}

#theend4 {
  width: 16%;
  height: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  background-color: transparent;
}

#theend5 {
  width: 16%;
  height: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  background-color: transparent;
}

#theend6 {
  width: 16%;
  height: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  background-color: transparent;
}

#footer {
  width: 100%;
  height: auto;
  padding-left: 1%;
  margin-bottom: 14px;
  background-color: transparent;
  display: -webkit-box;
  display: flex;
  box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  font-size: 15px;
  color: dimgray;
}

#footer1 {
  width: 50%;
  height: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

#footer2 {
  width: 50%;
  height: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.creds {
  color: dimgrey;
}

@media (max-width:768px) {
    
    #alwfav {
        width: 100%;
    }
    
     #artofwar {
        width: 100%;
    }
    
     #cisterna {
        width: 100%;
    }
    
     #premium {
        width: 100%;
    }
    
     #ontherole {
        width: 100%;
    }
    
     #crise {
        width: 100%;
    }
    
    #header01 {
          padding-left: 8px;
        padding-right: 8px;
    }
    
    #trabalhos {
        padding-left: 8px;
        padding-right: 8px;
    }
    
    #header011 {
  width: 75%;
    }
    
        #header012 {
  width: 25%;
    }
    
    #header01211 {
        width: 60px;
    }
    
     #header01212 {
        width: 100px;
    }
    
    #theend {
      -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
    }
    
    #theend1 {
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    #theend2 {
        width: 100%;
    }
    #theend3 {
        width: 100%;
    }
    #theend4 {
        width: 100%;
    }
    #theend5 {
        width: 100%;
    }    
      #theend6 {
        width: 100%;
    } 
}

